{% extends 'memo/base.html' %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card card-default">
          <ul class="list-group list-group-flush">
            {% for o in object_list %}
              <li class="list-group-item">
                <a href="{% url 'memo_detail' dbnum o.pk %}">{{ o.subject }}</a>
              </li>
            {% empty %}
              <li class="list-group-item">
                メモはありません
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="mt-3 text-center">
          {% if page_obj.has_previous %}
            <a class="btn btn-secondary" href="/?page={{ page_obj.previous_page_number }}">前へ</a>
          {% endif %}
          <span>{{ page_obj.number }}/{{ paginator.num_pages }}ページ</span>
          {% if page_obj.has_next %}
            <a class="btn btn-secondary" href="/?page={{ page_obj.next_page_number }}">次へ</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 mt-3">
        <a href="{% url 'memo_create' dbnum %}" class="btn btn-primary">新規作成</a>
      </div>
    </div>
  </div>
{% endblock %}
